@using System.Configuration;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Domain = Context.Request.Scheme + "://" + this.Context.Request.Host.Value;
}

<div class="row">
    <div class="col-md-12">
            <div id="mainSlider" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#target1">
                        <img src="@Domain/uploads/slider.jpg" class="d-block w-100" alt="1">
                    </a>
                </div>
                <div class="item">
                    <a href="#target1">
                        <img src="@Domain/uploads/slider2.jpg" class="d-block w-100" alt="1">
                    </a>
                </div>
                <div class="item">
                    <a href="#target1">
                        <img src="@Domain/uploads/slider3.jpg" class="d-block w-100" alt="1">
                    </a>
                </div>
            </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="section-title">En Son Eklenenler</h4>
    </div>
</div>
<div class="row">
    <div id="newProducts" class="owl-carousel owl-theme">
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt 7 </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Domain/uploads/banner1.png" class="home-banner"/>
    </div>
    <div class="col-md-6">
        <img src="@Domain/uploads/banner2.jpg" class="home-banner" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="section-title">Kampanyalı Ürünler</h4>
    </div>
</div>
<div class="row">
    <div id="saleProducts" class="owl-carousel owl-theme">
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="product-img position-relative">
                    <div class="badge bg-success font-size-11"><i class="bx bxs-star me-1"></i>Marka</div>
                    <div class="avatar-sm product-ribbon">
                        <span class="avatar-title rounded-circle bg-primary">
                            - 25 %
                        </span>
                    </div>
                    <img src="@Domain/assets/images/product/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
                <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate"><a href="javascript: void(0);" class="text-dark">Half sleeve T-shirt 7 </a></h5>
                    <h5 class="my-0"><span class="text-muted me-2"><del>$500</del></span> <b>$450</b></h5>
                    <a class="btn btn-primary waves-effect waves-light mt-2 me-1">
                        <i class="bx bx-cart me-2"></i> Sepete Ekle
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
