@using System.Configuration;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Domain = Context.Request.Scheme + "://" + this.Context.Request.Host.Value;
}

<div class="row">
    <div class="col-md-12">
            <div id="mainSlider" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#target1">
                        <img src="@Domain/uploads/slider.jpg" class="d-block w-100" alt="1">
                    </a>
                </div>
                <div class="item">
                    <a href="#target1">
                        <img src="@Domain/uploads/slider2.jpg" class="d-block w-100" alt="1">
                    </a>
                </div>
                <div class="item">
                    <a href="#target1">
                        <img src="@Domain/uploads/slider3.jpg" class="d-block w-100" alt="1">
                    </a>
                </div>
            </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="section-title">En Son Eklenenler</h4>
    </div>
</div>
<div class="row">
    <div id="newProducts" class="owl-carousel owl-theme">

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Domain/uploads/banner1.png" class="home-banner"/>
    </div>
    <div class="col-md-6">
        <img src="@Domain/uploads/banner2.jpg" class="home-banner" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="section-title">Kampanyalı Ürünler</h4>
    </div>
</div>
<div class="row">
    <div id="saleProducts" class="owl-carousel owl-theme">
    </div>
</div>


@section scripts {
    <script src="@Domain/controllerjs/home/index.js"></script>
}


