@{
    string Domain = Context.Request.Scheme + "://" + this.Context.Request.Host.Value;
    //string Domain = "https://localhost:7243";
    Layout = "";
}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Kullanıcı Giriş</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Domain/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="@Domain/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="@Domain/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="@Domain/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary-subtle">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Kullanıcı Girişi</h5>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="auth-logo">
                                <a href="index.html" class="auth-logo-light">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="assets/images/logo-light.svg" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>

                                <a href="index.html" class="auth-logo-dark">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <div class="form-horizontal">

                                    <div class="mb-3">
                                        <label for="username" class="form-label">E mail</label>
                                        <input type="text" class="form-control" id="email" placeholder="Email">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" placeholder="Password" id="password" aria-describedby="password-addon">
                                            <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                        </div>
                                    </div>

                                    <div class="mt-3 col-md-12 win-log-btn">
                                        <a class="btn btn-primary waves-effect waves-light" onclick="Login('@Domain')">Giriş Yap</a>
                                        <a class="btn btn-success waves-effect waves-light" href="/register">Kayıt Ol</a>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <a href="/recover-password" class="text-muted"><i class="mdi mdi-lock me-1"></i> Şifreni mi Unuttun?</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end account-pages -->
    <!-- JAVASCRIPT -->
    <script src="@Domain/assets/libs/jquery/jquery.min.js"></script>
    <script src="@Domain/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="@Domain/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="@Domain/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="@Domain/assets/libs/node-waves/waves.min.js"></script>
    <script src="@Domain/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <script src="@Domain/assets/controllerjs/main.js"></script>
    <!-- App js -->
    <script src="@Domain/assets/js/app.js"></script>
</body>
</html>
