@using System.Configuration;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Domain = Context.Request.Scheme + "://" + this.Context.Request.Host.Value;
}


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-12" style=" text-align: right;">
                    <a onclick='btnClick(this)' id="new" class="btn btn-primary insert text-white pull-right insert" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="mdi mdi-plus-circle mr-1"></i> Yeni Banner Ekle</a>
                </div>
            </div>

            <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="datatables">
                <thead>
                    <tr>
                        <th>Resim Adı</th>
                        <th>Resim</th>
                        <th>Link</th>
                        <th>Is Active</th>
                        <th width="95px"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->
@section scripts {
    <!-- JsGrid js -->
    <link href="@Domain/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="@Domain/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="@Domain/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <script src="@Domain/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="@Domain/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="@Domain/assets/libs/jszip/jszip.min.js"></script>
    <script src="@Domain/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="@Domain/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="@Domain/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="@Domain/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="@Domain/ControllerJs/Definitions/OrderList.js"></script>>
    <!-- Init js -->
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="name">Banner Adı</label>
                            <input type="text" class="form-control" id="BannerName" placeholder="Banner Adı">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="ImgUrl">Resim</label>
                            <div class="custom-file">
                                <input type="file" onchange="FileUpload(this)" class="form-control" id="ImgUrl">
                                <label class="custom-file-label" for="ImgUrl" id="ImageUrl"></label>
                            </div>
                            <div id="SilinecekResimler"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="name">Banner Link</label>
                            <input type="text" class="form-control" id="BannerUrl" placeholder="Banner Link">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="name">Banner Tipi</label>
                            <select id="BannerType" class="form-control">
                                <option value="0">Seçiniz</option>
                                <option value="1">Anasayfa</option>
                                <option value="2">Ürün Sayfası</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="name">Sıra No</label>
                            <input type="text" class="form-control" id="Queno" placeholder="Sıra No">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="name">Durumu</label>
                            <select id="IsActive" class="form-control">
                                <option value="1">Aktif</option>
                                <option value="0">Pasif</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" onclick="PostData(this)" class="btn btn-primary" id="btnSumbit">Kaydet</button>
            </div>
        </div>
    </div>
</div>