@using System.Configuration;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Domain = Context.Request.Scheme + "://" + this.Context.Request.Host.Value;
}


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="datatables">
                <thead>
                    <tr>
                        <th>Sipariş No</th>
                        <th>Müşteri Adı</th>
                        <th>Sipariş Tarihi</th>
                        <th>Sipariş Durumu</th>
                        <th width="95px"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->
@section scripts {
    <!-- JsGrid js -->
    <link href="@Domain/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="@Domain/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="@Domain/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <script src="@Domain/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="@Domain/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="@Domain/assets/libs/jszip/jszip.min.js"></script>
    <script src="@Domain/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="@Domain/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="@Domain/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="@Domain/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="@Domain/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="@Domain/ControllerJs/Definitions/OrderList.js"></script>>
    <!-- Init js -->
}

<div class="modal fade bs-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="formrow-inputCity" class="form-label">Sipariş No</label>
                            <input type="text" class="form-control" id="OrderNo" placeholder="Sipariş No">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="formrow-inputState" class="form-label">Fatura Tarih</label>
                            <input type="date" class="form-control" id="OrderDate" placeholder="Fatura Tarih">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Sipariş Durumu</label>
                            <select id="OrderStatus" class="form-control">
                                <option value="0">Sipariş Onay Bekleniyor</option>
                                <option value="1">Sipariş Hazırlanıyor</option>
                                <option value="2">Sipariş Onaylandı</option>
                                <option value="3">Kargo</option>
                                <option value="4">Fatura</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="formrow-inputCity" class="form-label">Müşteri Adı</label>
                            <select id="CustomerId" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="formrow-inputState" class="form-label">Toplam Tutar</label>
                            <input type="number" class="form-control" id="Total" placeholder="Toplam Tutar">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Ödeme Tipi</label>
                            <select id="PaymentType" class="form-control">
                                <option value="1">Kredi Kartı</option>
                                <option value="2">Havale / EFT</option>
                                <option value="3">Hesap Bakiye</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label for="formrow-inputCity" class="form-label">Sipariş Notu</label>
                            <input type="text" class="form-control" id="OrderNote" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="table-responsive">
                        <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="details-datatable">
                            <thead>
                                <tr>
                                    <th>Ürün</th>
                                    <th>Birim</th>
                                    <th>Adet  </th>
                                    <th>İndirimli Fiyat </th>
                                    <th>Normal Fiyat</th>
                                    <th>Vergi Tutar</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" onclick="PostData(this)" class="btn btn-primary" id="btnSumbit">Kaydet</button>
            </div>
        </div>
    </div>
</div>