@{
    string Domain = Context.Request.Scheme + "://" + this.Context.Request.Host.Value;
    //string Domain = "https://localhost:7243";
    Layout = "";
}

<!doctype html>
<html lang="tr">

<head>

    <meta charset="utf-8" />
    <title>Kayıt Ol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="@Domain/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="@Domain/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="@Domain/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="@Domain/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <link href="@Domain/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- App js -->
    <script src="@Domain/assets/js/plugin.js"></script>

</head>

<body>

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary-subtle">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Free Register</h5>
                                        <p>Get your free Skote account now.</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <a href="index.html">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <div class="needs-validation">

                                    
                                    <div class="mb-3">
                                        <label  class="form-label">Adınız</label>
                                        <input type="text" class="form-control" id="FirstName" placeholder="Adınız" required>
                                    </div>

                                    <div class="mb-3">
                                        <label  class="form-label">Soyadınız</label>
                                        <input type="text" class="form-control" id="LastName" placeholder="Soyadınız" required>
                                    </div>
                                    <div class="mb-3">
                                        <label  class="form-label">Telefon</label>
                                        <input type="number" class="form-control" id="Phone" placeholder="Telefon" required>
                                    </div>
                                    <div class="mb-3">
                                        <label  class="form-label">Email</label>
                                        <input type="email" class="form-control" id="Email" placeholder="Email" required>
                                    </div>

                                    <div class="mb-3">
                                        <label  class="form-label">Parola</label>
                                        <input type="text" class="form-control" id="Password" placeholder="Parola" required>
                                    </div>
                                    <div class="mt-4 d-grid">
                                        <a class="btn btn-primary waves-effect waves-light" onclick="Register()" >Kayıt Ol</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">

                        <div>
                            <p> <a href="/Login" class="fw-medium text-primary"> Giriş Yap</a> </p>
                            <p>© <script>document.write(new Date().getFullYear())</script>Kare El Aletleri <i class="mdi mdi-heart text-danger"></i> by Helios Diji</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="@Domain/assets/libs/jquery/jquery.min.js"></script>
    <script src="@Domain/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="@Domain//libs/metismenu/metisMenu.min.js"></script>
    <script src="@Domain/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="@Domain/assets/libs/node-waves/waves.min.js"></script>
    <script src="@Domain/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- validation init -->
    <script src="@Domain/assets/js/pages/validation.init.js"></script>
    <script src="@Domain/ControllerJs/Register.js"></script>

    <!-- App js -->
    <script src="@Domain/assets/js/app.js"></script>

</body>
</html>
